################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebJob1/WebJob1/bin/Debug
/WebJob1/WebJob1/obj/Debug
/WebJob1/packages
/WebJob1/WebJob1/obj/Release
/WebSite1/Bin
